.card-grid {
  display: grid;
  grid-template-rows: 43px 15px 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0;
}

.card-top {
  padding-block: 1.5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  contain: paint;
  z-index: 0;
  grid-row: 1/3;
  grid-column: 1/-1;
}

.card-top > img {
  position: absolute;
  right: 1.25rem;
}

.card-bottom {
  position: relative;
  padding: 1rem 1.75rem;
  background-color: var(--color-neutral-darker);
  z-index: 2;
  border-radius: 15px;
  grid-row: 2/-1;
  grid-column: 1/-1;
}

.card-menu {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info p:first-child {
  font-size: 3.25rem;
  font-weight: 300;
  margin-block: 0.5rem;
}

.card-info p:last-child {
  font-size: 0.9rem;
  margin-top: 0;
  color: var(--color-neutral-lightest);
}

.menu-icon {
  display: flex;
  align-items: center;
}

.card-work {
  background-color: var(--color-work);
}

.card-work > img {
  top: -0.75rem;
}

.card-play {
  background-color: var(--color-play);
}

.card-play > img {
  top: -0.35rem;
}

.card-study {
  background-color: var(--color-study);
}

.card-study > img {
  top: -0.5rem;
}

.card-exercise {
  background-color: var(--color-exercise);
}

.card-exercise > img {
  top: -0.05rem;
}

.card-social {
  background-color: var(--color-social);
}

.card-social > img {
  top: -0.9rem;
}

.card-self-care {
  background-color: var(--color-self-care);
}

.card-self-care > img {
  top: -0.75rem;
}

@media (max-width: 1000px) {

  .card-grid {
    grid-template-rows: 42px 15px 1fr;
  }

  .card-bottom {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  }

  .card-menu > p {
    margin-block: .5rem;
  }

  .card-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-info p:first-child {
    font-size: 2rem;
    margin-block: 0 0.5rem;
  }

  .card-info p:last-child {
    margin-top: auto;
    color: var(--color-neutral-lightest);
  }
}
