.user-panel {
  background-color: var(--color-neutral-darker);
  border-radius: 15px;
  grid-row: 1 / -1;
}

.user-info {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 15px;
}

.user-icon {
  height: 75px;
  border: solid 3px white;
  border-radius: 50%;
}

.panel-controls {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.panel-controls button {
  padding-left: 0;
  background: transparent;
  border: none;
  color: var(--color-neutral-lighter);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}