.user-panel {
  background-color: var(--color-neutral-darker);
  border-radius: 15px;
  grid-row: 1 / -1;
}

.user-info {
  background-color: var(--color-primary);
  padding-block: 2rem;
  padding-inline: 2rem 4rem;
  border-radius: 15px;
  min-height: 67%;
}

.user-icon {
  height: 80px;
  border: solid 3px white;
  border-radius: 50%;
}

.user-text {
  margin-top: 10px;
  padding-block: 1rem;
}

.user-text p:first-child {
  margin-bottom: .25rem;
  font-size: 14px;
  color: var(--color-neutral-lightest);
}

.user-text p:last-child {
  margin-top: .25rem;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 38px;
  max-width: 150px;
}

.panel-controls {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.panel-controls button {
  padding-left: 0;
  background: transparent;
  border: none;
  color: var(--color-neutral-lighter);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.panel-controls button.active {
  color: white;
}

@media (max-width: 1000px) {
  .user-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-block: .25rem;
    padding-inline: 2rem;
    min-height: auto;
  }

  .user-icon {
    height: 70px;
  }

  .user-text {
    margin-top: 0;
    padding-block: 1.5rem;
  }

  .user-text p:last-child {
    font-size: 23px;
    max-width: fit-content;
  }

  .panel-controls {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 1.5rem;
    padding-inline: 2rem;
  }
}